@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer {
  padding-left: 15px;
  background-color: #8f8f8f;
  color: #fff; }

.bg-primary {
  background-color: #000 !important; }

.bg-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%; }

.bg-circle-outline {
  width: 50px;
  height: 50px;
  color: smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%; }

.bg-circle a, a:hover, .media a:focus {
  text-decoration: none !important;
  outline: none;
  color: #ececec; }

.bg-circle-outline a, a:hover, .media a:focus {
  text-decoration: none !important;
  outline: none;
  color: #ececec; }

.navbar {
  height: 80px;
  width: 100%;
  display: flex; }
  .navbar .nav__logo {
    height: 11%;
    width: 11%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .navbar .navbar-nav {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .navbar .navbar__item {
    display: flex;
    justify-content: right; }

/*Creamos el bucle para usar los valores del mapa*/
.iconsocial, .btn--facebook, .btn--instagram, .btn--linkedin {
  display: flex;
  align-items: fill; }

.btn--facebook {
  background-color: #3b5998; }

.btn--instagram {
  background-color: #C25E30; }

.btn--linkedin {
  background-color: #0e76a8; }

.box {
  height: 50px;
  width: 500px; }

body {
  font-family: 'Questrial', sans-serif; }

.carousel-inner {
  color: #fff; }

.card {
  margin: 0 auto;
  margin-bottom: 10px; }

.img-fluid {
  max-width: 100%; }

.carousel-item {
  height: 75vh; }

.botoncolor:hover {
  background-color: crimson; }

.form {
  display: flex; }
