*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: 'Questrial', sans-serif;
}

.nav__shadow {
    box-shadow: 2px 2px 35px 0px rgba(148, 148, 148, 0.2);
}

.navbar-expand{-sm|-md|-lg|-xl|-xxl}

