
        facebook: #3b5998,
        instagram:  #C25E30,
        linkedin: #0e76a8,
); 

    display: flex;
    align-items: fill;
    
}

@each $red, $color in $redes {
   .btn--#{$red} {
       background-color: $color;
       @extend .iconsocial
       
   }
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 .box {
    @include sizes(500px, 50px);
 }
  















