 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "footer";
@import "generales";
@import "nav";
@import "variables";
@import "social";
body {
    font-family: 'Questrial', sans-serif;
}



.carousel-inner {
  color: #fff
}

.card {
  margin: 0 auto; 
  margin-bottom: 10px; 
}

.img-fluid{
  max-width: 100%
}

.carousel-item {
  height: 75vh;
}

.botoncolor:hover {
  background-color: crimson;
}

.form {
  display: flex;
}

